In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('Data/Weather/Stations-Observations Merged-Converted-with FIPS/NOAA_daily_weather_observations_with_stations_2020_to_2022_converted_with_FIPS.csv')
weather['DATE']=pd.to_datetime(weather['DATE'], format='%Y%m%d')
max_temps=weather[weather['ELEMENT']=='TMAX_F']
min_temps=weather[weather['ELEMENT']=='TMIN_F']
temps= pd.concat((max_temps, min_temps), ignore_index=True)
temps = temps.sort_values(['ID','DATE'], ignore_index=True)

In [4]:
temps

,ID,DATE,ELEMENT,DATA_VALUE,LATITUTDE,LONGITUDE,ELEVATION,STATE_x,NAME,COUNTY,FIPS,STATE_y
0,USC00040136,2020-01-01,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
1,USC00040136,2020-01-01,TMIN_F,39.92,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
2,USC00040136,2020-01-02,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
3,USC00040136,2020-01-02,TMIN_F,41.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
4,USC00040136,2020-01-03,TMAX_F,68.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
277759,USW00093245,2022-02-16,TMIN_F,44.06,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277760,USW00093245,2022-02-17,TMAX_F,58.82,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277761,USW00093245,2022-02-17,TMIN_F,42.80,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277762,USW00093245,2022-02-18,TMAX_F,55.04,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277763,USW00093245,2022-02-18,TMIN_F,41.00,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA

In [7]:
temps['ID'].nunique()

201

In [8]:
temps['DATE'].max()

Timestamp('2022-02-18 00:00:00')

In [9]:
temps['DATE'].min()

Timestamp('2020-01-01 00:00:00')

In [10]:
temps['COUNTY'].nunique()

52

In [11]:
temps.shape

(277764, 12)

In [13]:
temps['NAME'].nunique()

194

In [14]:
temps.to_csv('Data/Weather/Stations-Observations Merged-Converted-with FIPS/Temps for descriptives.csv')

In [26]:
test = temps.loc['2020-01-01':'2020-03-31']

In [43]:
temps.iterrows()

In [36]:
test = temps.set_index(['DATE']).copy()

In [60]:
temps['QUARTER'] = pd.DatetimeIndex(temps['DATE']).quarter
temps['YEAR'] = pd.DatetimeIndex(temps['DATE']).year

In [61]:
temps

,ID,DATE,ELEMENT,DATA_VALUE,LATITUTDE,LONGITUDE,ELEVATION,STATE_x,NAME,COUNTY,FIPS,STATE_y,QUARTER,YEAR
0,USC00040136,2020-01-01,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
1,USC00040136,2020-01-01,TMIN_F,39.92,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
2,USC00040136,2020-01-02,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
3,USC00040136,2020-01-02,TMIN_F,41.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
4,USC00040136,2020-01-03,TMAX_F,68.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277759,USW00093245,2022-02-16,TMIN_F,44.06,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2022
277760,USW00093245,2022-02-17,TMAX_F,58.82,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2022
277761,USW00093245,2022-02-17,TMIN_F,42.80,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2022
277762,USW00093245,2022-02-18,TMAX_F,55.04,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2022
277763,USW00093245,2022-02-18,TMIN_F,41.00,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2022

In [99]:
Q120 = temps.loc[(temps['YEAR']==2020) & (temps['QUARTER']==1)].reset_index(drop=True)
Q220 = temps.loc[(temps['YEAR']==2020) & (temps['QUARTER']==2)].reset_index(drop=True)
Q320 = temps.loc[(temps['YEAR']==2020) & (temps['QUARTER']==3)].reset_index(drop=True)
Q420 = temps.loc[(temps['YEAR']==2020) & (temps['QUARTER']==4)].reset_index(drop=True)
Q121 = temps.loc[(temps['YEAR']==2021) & (temps['QUARTER']==1)].reset_index(drop=True)
Q221 = temps.loc[(temps['YEAR']==2021) & (temps['QUARTER']==2)].reset_index(drop=True)
Q321 = temps.loc[(temps['YEAR']==2021) & (temps['QUARTER']==3)].reset_index(drop=True)
Q421 = temps.loc[(temps['YEAR']==2021) & (temps['QUARTER']==4)].reset_index(drop=True)
Q122 = temps.loc[(temps['YEAR']==2022) & (temps['QUARTER']==1)].reset_index(drop=True)

Y2020 = temps.loc[(temps['YEAR']==2020)].reset_index(drop=True)
Y2021 = temps.loc[(temps['YEAR']==2021)].reset_index(drop=True)
Y2022 = temps.loc[(temps['YEAR']==2022)].reset_index(drop=True)

In [104]:
Q120.ID.nunique()

195

In [111]:
list = [Q120, Q220, Q320, Q420, Q121, Q221, Q321, Q421, Q122]
print('Stations')

for item in list:
    print(item.ID.nunique())
print('Counties')

for item in list:
    print(item.COUNTY.nunique())

Stations
195
195
195
190
191
190
190
193
166
Counties
51
52
52
52
51
52
52
52
48

In [56]:
temps.DATE.max()

Timestamp('2022-02-18 00:00:00')

In [65]:
q120

,ID,DATE,ELEMENT,DATA_VALUE,LATITUTDE,LONGITUDE,ELEVATION,STATE_x,NAME,COUNTY,FIPS,STATE_y,QUARTER,YEAR
0,USC00040136,2020-01-01,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
1,USC00040136,2020-01-01,TMIN_F,39.92,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
2,USC00040136,2020-01-02,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
3,USC00040136,2020-01-02,TMIN_F,41.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
4,USC00040136,2020-01-03,TMAX_F,68.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276423,USW00093245,2020-03-29,TMIN_F,49.10,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2020
276424,USW00093245,2020-03-30,TMAX_F,58.28,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2020
276425,USW00093245,2020-03-30,TMIN_F,50.00,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2020
276426,USW00093245,2020-03-31,TMAX_F,57.92,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2020
276427,USW00093245,2020-03-31,TMIN_F,50.00,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA,1,2020

In [114]:
Y2020.to_csv('Data/Descriptives/weather2020.csv')
Y2021.to_csv('Data/Descriptives/weather2021.csv')
Y2022.to_csv('Data/Descriptives/weather2022.csv')

In [116]:
cases = pd.read_csv('Data/Covid Cases/Covid Cases with FIPS/Covid_Cases_Reduced_with_FIPS.csv')
cases['Date']=pd.to_datetime(cases['Date'], format='%Y-%m-%d')
cases

,Date,County,State,FIPS,Cases,Deaths,TotalTests,PositiveTest
0,2020-03-22,Alameda,CA,6001.0,24,2,175,14
1,2020-03-25,Alameda,CA,6001.0,32,2,435,49
2,2020-03-27,Alameda,CA,6001.0,40,2,469,34
3,2020-03-28,Alameda,CA,6001.0,18,3,253,25
4,2020-04-01,Alameda,CA,6001.0,68,2,461,61
...,...,...,...,...,...,...,...,...
9429,2021-05-01,Yuba,CA,6115.0,8,2,99,9
9430,2021-09-10,Yuba,CA,6115.0,45,3,372,61
9431,2021-11-20,Yuba,CA,6115.0,3,2,142,5
9432,2021-12-04,Yuba,CA,6115.0,8,2,114,9
9433,NaT,Yuba,CA,6115.0,3,28,13,2

In [118]:
cases['QUARTER'] = pd.DatetimeIndex(cases['Date']).quarter
cases['YEAR'] = pd.DatetimeIndex(cases['Date']).year

In [119]:
C2020 = cases.loc[(cases['YEAR']==2020)].reset_index(drop=True)
C2021 = cases.loc[(cases['YEAR']==2021)].reset_index(drop=True)
C2022 = cases.loc[(cases['YEAR']==2022)].reset_index(drop=True)

In [121]:
C2020

,Date,County,State,FIPS,Cases,Deaths,TotalTests,PositiveTest,QUARTER,YEAR
0,2020-03-22,Alameda,CA,6001.0,24,2,175,14,1.0,2020.0
1,2020-03-25,Alameda,CA,6001.0,32,2,435,49,1.0,2020.0
2,2020-03-27,Alameda,CA,6001.0,40,2,469,34,1.0,2020.0
3,2020-03-28,Alameda,CA,6001.0,18,3,253,25,1.0,2020.0
4,2020-04-01,Alameda,CA,6001.0,68,2,461,61,2.0,2020.0
...,...,...,...,...,...,...,...,...,...,...
3828,2020-12-19,Yolo,CA,6113.0,68,2,490,68,4.0,2020.0
3829,2020-12-20,Yolo,CA,6113.0,69,2,914,59,4.0,2020.0
3830,2020-12-24,Yolo,CA,6113.0,78,2,474,66,4.0,2020.0
3831,2020-12-27,Yolo,CA,6113.0,102,2,442,68,4.0,2020.0
3832,2020-12-31,Yolo,CA,6113.0,108,2,816,135,4.0,2020.0

In [122]:
C2020.to_csv('Data/Descriptives/cases2020.csv')
C2021.to_csv('Data/Descriptives/cases2021.csv')
C2022.to_csv('Data/Descriptives/cases2022.csv')