In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
weather = pd.read_csv('Data/Weather/Stations-Observations Merged-Converted-with FIPS/NOAA_daily_weather_observations_with_stations_2020_to_2022_converted_with_FIPS.csv')
weather['DATE']=pd.to_datetime(weather['DATE'], format='%Y%m%d')
max_temps=weather[weather['ELEMENT']=='TMAX_F']
min_temps=weather[weather['ELEMENT']=='TMIN_F']
temps= pd.concat((max_temps, min_temps), ignore_index=True)
temps = temps.sort_values(['ID','DATE'], ignore_index=True)

In [4]:
temps

,ID,DATE,ELEMENT,DATA_VALUE,LATITUTDE,LONGITUDE,ELEVATION,STATE_x,NAME,COUNTY,FIPS,STATE_y
0,USC00040136,2020-01-01,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
1,USC00040136,2020-01-01,TMIN_F,39.92,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
2,USC00040136,2020-01-02,TMAX_F,62.96,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
3,USC00040136,2020-01-02,TMIN_F,41.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
4,USC00040136,2020-01-03,TMAX_F,68.00,32.8358,-116.7775,516.6,CA,Alpine,San Diego,6073,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
277759,USW00093245,2022-02-16,TMIN_F,44.06,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277760,USW00093245,2022-02-17,TMAX_F,58.82,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277761,USW00093245,2022-02-17,TMIN_F,42.80,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277762,USW00093245,2022-02-18,TMAX_F,55.04,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA
277763,USW00093245,2022-02-18,TMIN_F,41.00,38.3208,-123.0747,19.2,CA,Bodega,Sonoma,6097,CA

In [7]:
temps['ID'].nunique()

201

In [8]:
temps['DATE'].max()

Timestamp('2022-02-18 00:00:00')

In [9]:
temps['DATE'].min()

Timestamp('2020-01-01 00:00:00')

In [10]:
temps['COUNTY'].nunique()

52

In [11]:
temps.shape

(277764, 12)

In [13]:
temps['NAME'].nunique()

194